*{
    /* border: 1px solid; */
    font: Roboto;
}

.test{
    border: 1px solid;
}

.test2{
    border: yellow 1px solid;
}

body{
    margin: 0px;
    font-size: 1.5vw;
}

section{
    width: 100%;
    height: 42.4vw;
    position: relative;
}

.SectionPage{
    height: 100vh;
}

.textCenter{
    align-items: center;
}

.NacDecor{
    font-family: Roboto;
    font-style: normal;
    /* font-weight: bold; */
    font-variant: small-caps;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: white;
    width: 10vw;
    height: 2.3vw;
    border-radius: 2vw;
}

.sectionHeading{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;

}

.sectionStyle{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

/* HeroPage */
#HeroPage{
    background: url('images/heropage.jpg') no-repeat fixed;;
    background-repeat:no-repeat;
    background-size: 100% auto;
}
    /* Navigation */
    #NavBar{
        z-index: 10;
        position: fixed;
        top: 0;
        width: 100%;
        height: 3vw;
        display: flex;
        background-color: rgb(0,0,0,0.4);

    }

        #logoArea{
            width: 35%;
        }

        #logo{
            margin-left: 1vw;
            z-index: 100;
            height: 3vw;
            width: 3vw;
            background: url(images/logo.png);
            overflow: hidden
        }
        /* Navigation Content */
        #NavContent{
            display: flex;
            justify-content: center;
            justify-content: space-around;
            width: 65%;
            right: 0;
        }

            /* Navigation Content Hover */
            .NacDecor:hover{
                cursor: pointer;
                /* background: linear-gradient(94.32deg, #002FA8 -6.63%, #336BFB 96.44%); */
                background-color:rgba(0, 0, 0, 0.2);
                width: 10vw;
                height: 2.3vw;
                justify-content: center;
                border-radius: 2vw;
                padding: 0;
            }

            #NavDownloads{
                background: linear-gradient(94.32deg, #002FA8 -6.63%, #336BFB 96.44%);
            }

    #HeroContent{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -75%);
        color: white;
        align-items: center;
        text-align: center;
        font-family: Roboto;
        font-style: normal;

    }
        #HeroContect-1{
            font-size: 4vw;
            letter-spacing: 2vw;
        }
        #HeroContect-2{
            font-size: 1vw;
            letter-spacing: 1vw;
        }

/* About Us */
#AboutUs{
    position: relative;
    padding: 0;
    /* height: 100vh; */
    width: 100%;
    overflow: hidden;
    /* background: rgba(196, 196, 196, 0.07); */
    background-color: whitesmoke;
}

    #AboutUsArea{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* padding: 10vw; */
    }

        #AboutUsHeading{

        }

        #AboutUsContent{
            text-align: center;
            font-style: italic;
        }


/* Team */

#TeamArea{
    width: 90%;
}

    .TeamMembers{
        width: 20vw;
        height: 23vw;
        margin-top: 6vw;
        margin-bottom: 3vw;
        display: block;
        background: rgb(196,196,196,0.4);
    }
        #TeamContent{
            display: flex;
            justify-content: space-around;
        }

        .TeamIcon{
            height: 8vw;
            width: 8vw;
            margin: auto;
            transform: translate(0%, -50%);
            border-radius: 4vw;
            z-index: 5;

        }

        .TeamName{
            font-weight: bold;
            text-align: center;
            transform: translate(0%, -160%);
        }

        .MemberDiscription{
            text-align: center;
            transform: translate(0%, -11%);
            font-size: 1.3vw;
        }

        #TeamIcon-1{background:url(../images/team_member.png);
            background-repeat:no-repeat;
            background-size: 100% auto;
            }

        #TeamIcon-2{background:url(../images/team_member.png);
            background-repeat:no-repeat;
            background-size: 100% auto;
            }
        #TeamIcon-3{background:url(../images/team_member.png);
            background-repeat:no-repeat;
            background-size: 100% auto;
            }
        #TeamIcon-4{background:url(../images/team_member.png);
            background-repeat:no-repeat;
            background-size: 100% auto;
            }

/* Contact Us */
#ContactUs{
    background-color: whitesmoke;
}

#ContactUsArea{
    width: 90%;
}

#ContactUsContent{
    display: flex;
    justify-content: space-between;
}

    .ContactUsSubElement{
        position: relative;
        margin-top: 3vw;
        margin-bottom: 3vw;
        width: 33%;
        height: 30vw;
        background-color: rgba(196, 196, 196, 0.2);
        border-radius: 1vw;
    }

    /* Find Us*/
    h4{
        font-size: 1.21vw;
        width: 30%;
        margin: auto;
        margin-top: 2.27vw;
        text-align: center;
    }

    #findUsInfo{
        height: 18.63vw;
        width: 16.21vw;
        margin: auto;
        margin-top: 2.27vw;
        position: relative;
        }

        .FindUsIconDisplay{
            display: flex;
            /* justify-content: space-between; */

        }
        .icon{
            height: 2vw;
            width: 2vw;

        }

        .marginfindus{
            font-size:1.21vw;
            margin-left: 2.27vw;
        }

        #email{

        }

        #address{
            margin-top:1.96vw;
            /* height: 3.18vw; */
        }

        #nonFormPhone{
            height: 3.18vw;
            margin-top:1.96vw;
        }

        #findUsSocialMedia{
            justify-content: space-between;
            margin-top: 2vh;
            /* position: absolute; */
            bottom: 0;
        }


        #Greybox{
            width: 90%;
            margin: auto;
            margin-top: 2vw;
            height: 2vw;
        }

        /* Write to Us */
        #WriteToUS{
            height: 6vw;
        }

        #FormArea{
            margin-top: 1.74vw;
            text-align:center;
            vertical-align:middle;
        }

        #ResponseForm{
            height: 24vw;
        }

        .classForm{

            margin-left: 10%;
            margin-right: 10%;

        }

        .ResponseRecorded{
            display: none;
        }


            #name{
                width: 90%;
                height: 3.333vw;
                margin: auto;
                padding-left: 1vw;

            }

            #phone{
                width: 90%;
                height: 3.333vw;
                margin: auto;
                padding-left: 1vw;
            }

            #text{
                width: 90%;
                margin: auto;
                height: 8.33vw;
                padding-left: 1vw;
                top: 0;
            }

            button:focus { outline: none; }

            #buttonId{
                font-size: 1.439vw;
                color: white;
                width: 80%;
                margin: auto;
                margin-top: 1.15vw;
                height: 3.63vw;
                border-radius: 5vw;
                border: none;
                background: linear-gradient(94.32deg, #002FA8 -6.63%, #336BFB 96.44%);
            }

            #buttonId:hover{
                cursor: pointer;
            }

            /* Footer */

            #Footer{
                height: 4vw;
                width: 100%;
                border-top: 1px solid;
                position: absolute;
                bottom: 0px;
                display: flex;
                justify-content: space-between;
            }

            .footerContent{
            font-size: 1vw;
            margin-top: 1.5vw;
            margin-left: 1.5vw;
            margin-right: 1.5vw;
            vertical-align: middle;
        }
